.container {
    display: flex;
    position: relative;
    border: #1a1a1a solid 1px;
    width: 410px;
    height: 736px;
    gap: 10px;
    overflow: hidden;
    border-radius: 20px;
}

.chatContainer {
    position: relative;
    display: flex;
    height: 675px;
    margin-top: 64px;
    overflow-y: auto;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    background: none;
}

.itemContainer {
    flex: 1;
    position: relative;
    background: none;
    width: 510px;
    height: 90px;
    display: flex;
    flex-direction: row;
    border: none;
    border-bottom: #a0c4ff solid 1px;
    gap: 10px;
}

.image {
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    object-fit: cover;
    /*border-radius: 50%;*/

    button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 20px;
        width: 90px;
        height: 40px;
        white-space: nowrap;
        border: #000000 solid 1px;
        border-radius: 10px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90px;
    width: 300px;
    font-size: 12px;
    background: none;
}

