.container {
    display: flex;
    position: relative;
    border: #1a1a1a solid 1px;
    width: 410px;
    height: 736px;
    gap: 10px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.registerContainer {
    display: flex;
    flex: 1;
    height: 660px;
    margin-top: 65px;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    overflow-y: auto;
    padding: 50px 16px 30px;

}

.registerContainer input {
    position: relative;
    flex: 1;
    width: 299px;
    height: 45px;
    border: 1px solid #a0c4ff;
    border-radius: 10px;
    text-indent: 10px;
}

.Wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
}

.Wrapper::-webkit-scrollbar {
    display: none;               /* Chrome/Safari */
}

.imageContainer {
    border: 1px solid #a0c4ff;
    border-radius: 10px;
    padding: 20px 16px 8px;
    width: 350px;
    height: 200px;
    overflow: auto;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    cursor: pointer;
}

.imageBox {
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid #a0c4ff;
    background-color: rgba(160, 196, 255, 0.5);
    overflow: hidden;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.imageBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.removeBtn {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff0099;
    top: 5px;
    right: 5px;
}

.addIcon {
    font-size: 20px;
    color: white;
}

.imageCount {
    font-size: 13px;
    color: #666;
    text-align: right;
    margin-top: 8px;
}

.label {
    flex-shrink: 0;
    text-align: right;
    width: 80px;
    font-size: 14px;
}

.required {
    color: red;
    margin-right: 2px;
}

.input {
    flex: 1;
    padding: 6px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.textarea {
    width: 350px;
    height: 200px;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    border: none;
    background: #eee;
    resize: none;
    outline: none;
}

.warning {
    color: red;
    font-size: 13px;
    margin-top: -10px;
}

.registerButton {
    background: #a0c4ff;
    border: 1px solid #a0c4ff;
    height: 45px;
    width: 299px;
    font-size: 14px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto 24px;
}