.container {
    display: flex;
    position: relative;
    border: #1a1a1a solid 1px;
    width: 410px;
    height: 736px;
    gap: 10px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.Wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;    /* IE/Edge */
}

.Wrapper::-webkit-scrollbar {
    display: none;               /* Chrome/Safari */
}
