.container {
    position: relative;
    display: flex;
    border: #1a1a1a solid 1px;
    width: 410px;
    height: 100vh;
    overflow: hidden;
    border-radius: 20px;
}

.viewedBox {
    /*background-color: #00ff16;*/
    flex: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    margin-top: 70px;
    gap: 2px;
    height: 590px;
}

.item {
    /*background-color: #ad00c6;*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty {
    text-align: center;
    color: #999;
    font-size: 16px;
    padding: 40px 0;
}