.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal {
    background-color: white;
    display: flex;
    width: 330px;
    height: 400px;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
}

.inputBox {
    height: 400px;
    margin: 20px;

    input {
        width: 200px;
        height: 30px;
        border: #000000 1px solid;
        border-radius: 10px;
    }
}

.btnRow {
    display: flex;
    height: 100px;
    gap: 20px;
    margin-top: 16px;

    button {
        width: 120px;
        height: 40px;
        border: #000000 1px solid;
    }
}