.container {
    display: flex;
    position: relative;
    border: #1a1a1a solid 1px;
    flex-direction: column;
    width: 410px;
    height: 100vh;
    overflow: hidden;
    border-radius: 20px;
}

.myPage {
    background-color: #c144ff;
    display: flex;
    height: 620px;
    width: 100%;
    margin-top: 65px;
    flex-direction: column;
    gap: 10px;

}

.infoBox {
    background-color: #2da0ff;
    display: flex;
    gap: 30px;
    height: 100px;
    align-items: center;
    justify-content: center;

    button {
        background-color: #0018b6;
        height: 45px;
        width: 110px;
    }
}

.historyBox {
    background-color: #9c0000;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .historyItem {
        background-color: #00ff16;
        display: flex;
        align-items: center;
        height: 90px;
        border: #1a1a1a solid 1px;
    }
}

.buttonBox {
    background: #ff9900;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 70px;

    button {
        width: 130px;
        border-radius: 10px;
    }
}

.editBox {
    background-color: #ffca13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}

.inputBox {
    background-color: #1fdfff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 520px;
}

.inputRow {
    background-color: #ff9b9b;
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
    height: 100px;
}

.inputRow label {
    width: 110px;
}

.required {
    color: red;
    margin-right: 2px;
}

.inputRow input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 160px;
}

.inputRow button {
    border: none;
    background-color: #4f6cff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

